<div class="row">
        <div class="col-md-12">
           <card cardTitle="Teachers Data">
              <tabset id="tab1">
               
                 <tab-content for="tab1" tabTitle="List Teachers" [active]="true">
                    <table class="table table-bordered table-hover">
                       <thead>
                          <tr>
                             <th># </th>
                             <th>Name </th>
                             <th>Email </th>
                             <th>Designation </th>
                             <th>Phone Number </th>
                             <th>Address</th>
                             <th>Qualification</th>
                             <th>Actions</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr *ngFor="let item of teachersDataList | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
                             <td>{{index + 1}}</td>
                             <td>{{item.teacher_name}}</td>
                             <td>{{item.email}}</td>
                             <td>{{item.teacher_desig}}</td>
                             <td>{{item.phone_num}}</td>
                             <td>{{item.address}}</td>
                             <td>{{item.teacher_qual}}</td>
                             <td>
                                <span class="label label-info"   (click) =openEditTeachModal(updateTeacherModal,item.teacher_id) style="cursor: pointer;" >Edit</span>
                                <span class="label label-danger" (click)=deleteTeacher(item.teacher_id) style="cursor: pointer;">Delete</span>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <form class="pagination-wrapper">
                       <div class="form-group pages">
                          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                             autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                             screenReaderCurrentLabel="You're on page">
                          </pagination-controls>
                       </div>
                       <div class="form-group options pages">
                          <div class="input-group input-group-sm">
                             <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
                             <option>1</option>
                             <option>5</option>
                             <option>10</option>
                             <option>20</option>
                             <option>50</option>
                             <option>100</option>
                             <option>200</option>
                             </select>
                             <span class="input-group-addon addon-right">Per Page</span>
                          </div>
                       </div>
                    </form>
                 </tab-content>
                 <tab-content for="tab1" tabTitle='Add Teacher'>
                    <div class="row">
                           
                       <div class="col-lg-8 col-md-8 col-md-offset-2">
                            <alert *ngIf="successNotification" type="success">Teacher Added Successfully..!</alert>
                          <div class="row card card-block">
                             <form class="form-group" #addteacher="ngForm" (ngSubmit)="onSubmitAddTeacher(addteacher)">
                             <div class="col-md-6 form-group">
                                <label class="control-label" style="margin-top:.5em;">Name *  <span style="color:red;" *ngIf="!pickedTname.valid && pickedTname.touched"><small>  Teacher Name Required</small>  </span></label>
                                <input type="text" required style="margin-top:0em;" class="form-control fm-control" name="teacher_name"
                                       placeholder="Teacher Name" [(ngModel)]="teacher_name" #pickedTname="ngModel">
                               
                             </div>
                            
                             <div class="col-md-6 form-group">
                                <label class="control-label" style="margin-top:.5em;"> Email * <span style="color:red;" *ngIf="!pickedEmail.valid && pickedEmail.touched"><small>  Email Required</small>  </span></label>
                                <input type="text" required style="margin-top:0em;" class="form-control fm-control" name="email" 
                                 placeholder="Teacher Email" [(ngModel)]="email" #pickedEmail="ngModel">
                             </div>
                          
                             <div class="col-md-6 form-group">
                                    <label class="control-label" style="margin-top:1em;">Qulification</label>
                                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="teacher_qual" placeholder="Qulification" ngModel>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label" style="margin-top:1em;">Designation</label>
                                <input type="text" style="margin-top:0em;" class="form-control fm-control" name="teacher_desig" placeholder="Designation" ngModel>
                            </div>
                             <div class="col-md-4 form-group">
                                <label class="control-label" style="margin-top:1em;">Gender </label>
                                <select class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="gender" name="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                  </select>
                             </div>
                             <div class="col-md-4 form-group">
                                <label class="control-label" style="margin-top:1em;">Date Of Birth</label>
                                <input type="date" style="margin-top:0em;" class="form-control fm-control" name="dob" ngModel>
                             </div>
                             <div class="col-md-4 form-group">
                                <label class="control-label"  style="margin-top:1em;">Phone Number * <span style="color:red;" *ngIf="!pickedPhoneNum.valid && pickedPhoneNum.touched"><small>  Email Required</small>  </span></label>
                                <input type="text" style="margin-top:0em;" required class="form-control fm-control" name="phone_num" placeholder="Phone Number"
                                [(ngModel)]="phone_num" #pickedPhoneNum ="ngModel" >
                             </div>
                                      
                             <div class="col-md-12 form-group">
                                <label class="control-label" style="margin-top:1em;">Address</label>
                                <input type="text" style="margin-top:0em;" class="form-control fm-control" name="address" placeholder="Student Address" ngModel>
                             </div>
                        
                             <div class="col-md-12 form-group">
                                <input type="submit" class="btn btn-info" style="margin-top:1em" [disabled]="!addteacher.form.valid" value="Add Teacher">
                             </div>
                             </form>
                          </div>
                       </div>
                    </div>
                 </tab-content>
              </tabset>
           </card>
        </div>
     </div>

     <modal #updateTeacherModal modalClass="modal-lg">
            <modal-header>
              <h3>Update Teacher</h3>
            </modal-header>
            <modal-content >
                <div class="row">
    
                    <div class="col-lg-8 col-md-8 col-md-offset-2">
                   
                            <alert *ngIf="successNotification" type="success">Updated Successfully..!</alert>
                        <div class="row card card-block">
                            <form class="form-group" #updateTeacher="ngForm" (ngSubmit)="onSubmitUpdateTeacher(updateTeacher)">
                            <div class="col-md-6 form-group">
                                <label class="control-label" style="margin-top:.5em;">Name *  <span style="color:red;"
                                     *ngIf="!pickedTname.valid && pickedTname.touched"><small>  Teacher Name Required</small> </span></label>
                                <input type="text" required style="margin-top:0em;" class="form-control fm-control" name="teacher_name"
                                    placeholder="Teacher Name" [(ngModel)]="teacher_name" #pickedTname="ngModel">
                            
                            </div>
        
                            <div class="col-md-6 form-group">
                                <label class="control-label" style="margin-top:.5em;"> Email * <span style="color:red;"
                                     *ngIf="!pickedEmail.valid && pickedEmail.touched"><small>  Email Required</small> </span></label>
                                <input type="text" required style="margin-top:0em;" class="form-control fm-control" name="email" 
                                placeholder="Teacher Email" [(ngModel)]="email" #pickedEmail="ngModel">
                            </div>
                        
                            <div class="col-md-6 form-group">
                                    <label class="control-label" style="margin-top:1em;">Qulification</label>
                                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="teacher_qual" placeholder="Qulification" [(ngModel)]="teacher_qual">
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label" style="margin-top:1em;">Designation</label>
                                <input type="text" style="margin-top:0em;" class="form-control fm-control" name="teacher_desig" placeholder="Designation" ngModel>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="control-label" style="margin-top:1em;">Gender </label>
                                <select class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="gender" name="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="control-label" style="margin-top:1em;">Date Of Birth</label>
                                <input type="date" style="margin-top:0em;" class="form-control fm-control" name="dob" ngModel>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="control-label"  style="margin-top:1em;">Phone Number * <span style="color:red;" *ngIf="!pickedPhoneNum.valid && pickedPhoneNum.touched"><small>  Email Required</small>  </span></label>
                                <input type="text" style="margin-top:0em;" required class="form-control fm-control" name="phone_num" placeholder="Phone Number"
                                [(ngModel)]="phone_num" #pickedPhoneNum ="ngModel" >
                            </div>
                                    
                            <div class="col-md-12 form-group">
                                <label class="control-label" style="margin-top:1em;">Address</label>
                                <input type="text" style="margin-top:0em;" class="form-control fm-control" name="address" placeholder="Student Address" ngModel>
                            </div>
                        
                            <div class="col-md-12 form-group">
                                <input type="submit" class="btn btn-info" style="margin-top:1em" [disabled]="!addteacher.form.valid" value="Add Teacher">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                 
            
            </modal-content>
            <modal-footer>
              <button class="btn btn-primary" (click)="closeModal(updateTeacherModal)">close</button>
            </modal-footer>
          </modal>