<div class="row">
  <div class="col-md-12">
    <card cardTitle="Class Section Management">
      <tabset id="tab1">
        <tab-content for="tab1" tabTitle="Section Details" [active]="true">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="list-group" style="padding-top: 0px; width: -webkit-fill-available;">


                <p class="list-group-item" style="background-color:#000000d4; color: white">
                  <i class="fa fa-university"></i>
                  <span>Select Class</span>
                </p>
                <a href="#" class="list-group-item">
                  <span>Class 2</span>
                </a>
                <a href="#" class="list-group-item">
                  <span>Class 3</span>
                </a>
                <a href="#" class="list-group-item">
                  <span>Class 4</span>
                </a>
                <a href="#" class="list-group-item">
                  <span>Class 5</span>
                </a>
                <a href="#" class="list-group-item">
                  <span>Class 6</span>
                </a>
                <a href="#" class="list-group-item">
                  <span>Class 7</span>
                </a>
                <a href="#" class="list-group-item">
                  <span>Class 8</span>
                </a>
                <a href="#" class="list-group-item">
                  <span>Class 9</span>
                </a>

              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Section Name</th>
                    <th>Class </th>
                    <th>Teacher </th>
                    <th>Actions</th>
            
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of classData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.username}}</td>
                  
                    <td>
                      <span class="label label-info">Edit</span>
                      <span class="label label-danger">Delete</span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>

          <form class="pagination-wrapper">
            <div class="form-group pages">
              <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
              </pagination-controls>
            </div>

          </form>
        </tab-content>
        <tab-content for="tab1" tabTitle={{tabtitle}}>
          <div class="row">
            <div class="col-lg-5 col-md-6 col-md-offset-3">
              <card cardTitle="Add New Section">
                <form class="form-group" #addsection="ngForm" (ngSubmit)="onSubmitAddSection(addsection)">
                  <label class="control-label"> Select Class * </label>
                  <select class="form-control fm-control" style="margin-top:0em;" #selectedClass [(ngModel)]="class_name" (change)=classRequired(selectedClass.value); name="class_name">
                      <option [ngValue]="undefined" disabled>Select Class</option>
                      <option *ngFor="let item of classData" [value]="item.class_id">{{item.class_name}}</option>
                  </select>
            
                  <label class="control-label" style="margin-top:.5em;">Section Name </label>
                    <span style="color:red;" *ngIf="!pickedSName.valid && pickedSName.touched"><small>  Section Name Required</small> </span>
                
                  <input type="text" style="margin-top:0em;" class="form-control fm-control" (change)=checkSectionAdded(selectedClass.value,this.section_name)
                  [(ngModel)]="section_name" name="section_name" placeholder="Section Name" #pickedSName="ngModel" >

                  <label class="control-label" >Teacher</label>
                  <select class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="teacher_name" name="teacher_name">
                      <option [ngValue]="undefined" disabled>Select Teacher</option>
                      <option *ngFor="let item of teachersData" [value]="item.teacher_id">{{item.teacher_name}}</option>
                  </select>

                  <input type="submit" class="btn btn-info" style="margin-top:1em" [disabled]="!addclass.form.valid ||!disableButton" value="Add Section">
                </form>
              </card>
            </div>
          </div>
        </tab-content>
      </tabset>

    </card>
  </div>
</div>