<div class="row">
        <div class="col-md-12">
           <card cardTitle="Student Promotion">
              <div class="row">
                 <div class="col-md-12">
                    <div class="row card card-block">
                       <form class="form-group" #addclass="ngForm" (ngSubmit)="onClickSubmit(addclass.value)">
                       <div class="col-md-6 form-group">
                          <label class="control-label" style="margin-top:1em;">Current Session </label>
                          <input type="text" style="margin-top:0em;" [(ngModel)]="defaultsession" readonly class="form-control fm-control" name="enroll_session"  >
                       </div>
                       <div class="col-md-6 form-group">
                          <label class="control-label" style="margin-top:1em;">Promote To Next Session <small style="color: brown">  (If Next Session is empty than add next session from Settings )</small></label>
                          <input type="text" style="margin-top:0em;" [(ngModel)]="nextSession" readonly class="form-control fm-control" name="promto_session"  >
                       </div>
                       <div class="col-md-6 form-group">
                          <label class="control-label"> Promotion From Class</label>
                          <ng-select [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                          (removed)="removed($event)" (typed)="typed($event)" placeholder="No class selected">
                          </ng-select>
                       </div>
                       <div class="col-md-6 form-group">
                            <label class="control-label"> Promotion From Class</label>
                            <ng-select [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)"
                            (removed)="removed($event)" (typed)="typed($event)" placeholder="No class selected">
                            </ng-select>
                         </div>
                       <div class="col-md-6 col-md-offset-5 form-group">
                          <input type="submit" class="btn btn-info" style="margin-top:1em" [disabled]="!addclass.form.valid" value="Manage Promotions">
                       </div>
                       </form>
                    </div>
                 </div>
              </div>
           </card>
        </div>
     </div>